

#searchFormModal .modal-body .form-group.offerTypeButtons  {
	width: 49%;
}
#searchFormModal .modal-body .form-group.categoryButtons {
	width: 49%;
	height: 68.84px;

	display: inline-flex !important;
	justify-content: flex-end;
	flex-direction: column;
}
#searchFormModal .modal-body .form-group.offerTypeButtons button,
#searchFormModal .modal-body .form-group.categoryButtons button,
#searchFormModal .modal-body .form-group .btn-group,
#searchFormModal .modal-body .btn-group {
	width: 100%;
	display: block;
}

#searchFormModal .modal-body .form-group {
	width: 100%;
	margin-top: 8px;
	margin-bottom: 8px;
}
#searchFormModal .modal-body .additional_category_search_params_container_action + .form-group {
	margin-top: 12px;
}
#searchFormModal .modal-body .form-group.offerTypeButtons label {
	display: block;
}
/*.modal-body .form-group label*/
/*=====================*/

#searchFormModal .modal-body .form-group .input-group {
	font-size: 0;
	display: flex;
	width: 100%;
}
#searchFormModal .modal-body .form-group .input-group .form-control {
	flex: 1 1 auto;
}
#searchFormModal .modal-body .input-group-addon {
	height: auto;
	flex: 0 0 34px;

	display: flex;
	justify-content: center;
	align-items: center;
}

/*=====================*/

#searchFormModal .modal-body .btn-group .btn {
	/*width: 100%;*/
	text-align: left;
}
#searchFormModal .modal-body .btn,
#searchFormModal .modal-body .input-group input {
	font-size: 16px;
	padding: 6px 12px;
	height: 36px;
}

#searchFormModal .modal-body .form-group + .btn-group label {
	font-size: 14px;
	padding: 4px 8px;
	height: auto;

}



#searchFormModal .modal-body .btn-group .btn.btn-xs {
	margin-bottom: 6px;
}
#searchFormModal .modal-body .btn-group .btn.btn-xs:last-child {
	margin-bottom: 0px;
}
#searchFormModal .modal-body .form-group:nth-child(4),
#searchFormModal .modal-body .form-group:nth-child(5) {
	max-width: 48.5%;
}
#searchFormModal .modal-body .form-group:nth-child(4) {
	margin-right: 1%;
}

#searchFormModal .modal-body .fas.fa-tag {
	display: none;
}
#searchFormModal .modal-body .description-group {
	display: block;
	width: 100%;
}


#searchFormModal .modal-body .form-group > label {
	display: block;
	font-size: 16px;
}

#searchFormModal .modal-body .get-search-locations-action,
#searchFormModal .modal-body .description-group .form-control {
	display: block;
	width: 100%;

	font-size: 16px;
	padding: 6px 12px;
	height: 36px;

}


#searchFormModal .offerTypeButtons>.btn-group, 
#searchFormModal .categoryButtons>.btn-group, 
#searchFormModal .buildingTypeButtons>.btn-group, 
#searchFormModal .renovationButtons>.btn-group, 
#searchFormModal .propertyTypeButtons>.btn-group {
  display: none !important;
}